<!DOCTYPE html>
<html>
  <head>
    <title>Two-Tiered Kanban</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/static/kb.css">


    <script src="/static/angular/angular.js"></script>
    <script src="/static/angular-animate/angular-animate.js"></script>
    <script src="/static/angular-aria/angular-aria.js"></script>
    <script src="/static/angular-material/angular-material.js"></script>
    <script src="/static/angular-material-icons/angular-material-icons.js"
            ></script>
    <script src="/static/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/angular-ui-router/release/angular-ui-router.js"
            ></script>

    <script type="text/javascript">
      angular.module("kb.initial", ['kb.login'])
      .config(function (kbUserProvider) {
         kbUserProvider.set(%s);
      })
    </script>
    <script src="/static/board.js"></script>
    <script src="/static/util.js"></script>
    <script src="/static/login.js"></script>
    <script src="/static/users.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/frame.js"></script>
    <script src="/static/boardui.js"></script>
  </head>
  <body ng-app="kb">

    <script type="text/ng-template" id="kbProject.html">
      <md-card id="{{project.id}}" draggable="true" class="kb-project">
        <md-content>
          <div ng-switch="state.substates && 'expanded'">
            <table ng-switch-when="expanded">
              <caption>
                {{ project.name}}
                [{{ project.total_completed }}/{{ project.total_size }}]
              </caption>
              <tr><th ng-repeat="state in state.substates"
                      >{{state.title}}</th></tr>
              <tr>
                <td ng-repeat="state in state.substates"
                    kb-task-column state="state" project="project">
                </td>
              </tr>
            </table>
            <div ng-switch-default>
              {{ project.name }}
              [{{ project.total_completed}}/{{ project.total_size }}]
              <ng-md-icon ng-if="! project_expanded"
                          icon="arrow_drop_down"
                          ng-click="expand()"
                          ></ng-md-icon>
              <div ng-if="project_expanded">
                <ng-md-icon icon="arrow_drop_up"
                            ng-click="unexpand()"
                            ></ng-md-icon>
                <div ng-bind-html="project.description | breakify"></div>
                <kb-task ng-repeat="task in project.subtasks()" task="task">
                </kb-task>
              </div>
            </div>
          </div>
          <div class="md-actions"
               layout="row"
               layout-align="start center"
               ng-if="state.has_substates || project_expanded"
               >
            <ng-md-icon icon="add"
                        ng-click="add_task($event)"
                        ></ng-md-icon>
            <ng-md-icon icon="mode_edit"
                        ng-click="edit_project($event)"
                        ></ng-md-icon>
          </div>
        </md-content>
      </md-card>
    </script>

    <script type="text/ng-template" id="kbEditProject.html">
      <md-dialog class="kb-edit-project">
        <md-dialog-content>
          <form novalidate name="form_controller">
            <md-input-container>
              <label>Name</label>
              <input type="text" ng-model="project_name" required>
            </md-input-container>
            <md-input-container>
              <label>Description</label>
              <textarea ng-model="project_description"></textarea>
            </md-input-container>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button ng-click="cancel()" type="button">
                Cancel
              </md-button>
              <md-button ng-click="submit()" type="submit">
                {{action_label}}
              </md-button>
            </div>
          </form>
        </md-dialog-content>
      </md-dialog>
    </script>

    <script type="text/ng-template" id="kbNewTask.html">
      <md-dialog aria-label="New task">
        <md-dialog-content>
          <form novalidate name="form_controller">
            <md-input-container>
              <label>Name</label>
              <input type="text" ng-model="task_name" required>
            </md-input-container>
            <md-input-container>
              <label>Description</label>
              <textarea ng-model="task_description"></textarea>
            </md-input-container>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button ng-click="cancel()" type="button">
                Cancel
              </md-button>
              <md-button ng-click="submit()">
                Add
              </md-button>
            </div>
          </form>
        </md-dialog-content>
      </md-dialog>
    </script>

    <script type="text/ng-template" id="kbEditTask.html">
      <md-dialog aria-label="New task">
        <md-dialog-content>
          <form novalidate name="form_controller">
            <md-input-container>
              <label>Name</label>
              <input type="text" ng-model="task_name" required>
            </md-input-container>
            <md-input-container>
              <label>Description</label>
              <textarea ng-model="task_description"></textarea>
            </md-input-container>
            <md-input-container>
              <label>Size</label>
              <input type="text" ng-model="task_size" required>
            </md-input-container>
            <md-input-container>
              <label>Blocked? Reason</label>
              <textarea ng-model="task_blocked"></textarea>
            </md-input-container>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button ng-click="cancel()" type="button">
                Cancel
              </md-button>
              <md-button ng-click="submit()">
                Apply
              </md-button>
            </div>
          </form>
        </md-dialog-content>
      </md-dialog>
    </script>

    <div ui-view></div>
  </body>
</html>
