.hidden
{
  display: none;
  }
.release
{
  border: 1px solid black !important;
  }
.task
{ 
  border: 1px solid black !important;
  background-color: yellow;
  }

table
{
  border-collapse:collapse;
  }
table, td, th
{
  border:1px solid black;
  }

.task_detail
{ 
  margin: 3px;
  }

.assigned
{ 
  background-color: #cfc;
  }

.blocked
{ 
  background-color: #f99;
  }

