table {
    border-collapse:collapse;
}

table,td,th {
    border: 1px solid grey;
}

th {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 3px;
    background-color: #eee;
}

.kb-project {
    background-color: #f9f9f9;
}


.kb-divider {
    height: 1ex;
    transition: height .3s;
}

.kb-divider.dragover {
    height: 4ex;
    background-color: #ccff99;
}

.kb-tail {
    flex-grow: 1;
    height: 2ex;
}
