
.kb-board {
    table {
        border-collapse:collapse;
        min-height: 14ex;
        width: 100%;
    }

    table,td,th {
        border: 1px solid grey;
    }

    th {
        border-bottom: 2px solid black;
        text-align: center;
        padding: 3px;
        background-color: #eee;
    }

    td {
        height: 1px;
    }
}

.kb-project {
    width: auto;
    margin: 5px;
    background-color: #f9f9f9;
    h1 {
        font-size: 120%;
        text-align: center;
    }
}

.kb-task {
    width: auto;
    margin: 3px;
    background-color: #fff999;
    h1 {
        font-size: 100%;
    }
    .kb-assigned-avatar {
        margin-left: .5em;
        height: 20px;
        width: 20px;
    }
    .kb-revealable {
        padding: .5em;
        padding-right: 0;
    }
}

.kb-divider {
    height: 1ex;
    transition: height .3s;
}

.kb-divider.dragover {
    height: 4ex;
    background-color: #ccff99;
}

.kb-tail {
    flex-grow: 1;
    height: 2ex;
}

.kb-column {
    height: 100%;
    display: flex;
    flex-direction: column;

    .kb-task.blocked {
        background-color: #fdd;
    }
}

.kb-column.working {
    .kb-task {
        background-color: #dfd;
    }
}

.kb-column.complete {
    height: 100%;
    overflow-y: scroll;
    .kb-task {
        background-color: #ddf;
    }
}

.kb-column.kb-unordered-column.dragover {
    /* border: 5px solid #ccff99; */
    background-color: #ccff99;
}

.kb-scrollable {
    overflow-y: scroll;
}

.kb-user {
    display: flex;
    flexDirection: row;
    img {
        margin-right: 1em;
    }
}

.kb-field-row {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    .kb-flex-grow {
        flex-grow: 1;
    }
    > * {
        margin-right: 2em;
    }
}

.kb-assigned {
    min-width: 20em;
}

.kb-task-size {
    width: 5em;
}


.kb-w-right-thing {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kb-w-right-thing.kb-w-right-thing-center {
    align-items: center;
}

.kb-w-right-thing.kb-revealable {
    align-items: flex-start;
    flex-wrap: nowrap;
}

.kb-backlog {
    margin: 1em;
    > h1 {
        font-size: 120%;
    }
    > h1::after {
        content: ":"
    }
}

.kb-the-bag {
  background-color: #FFDF00;
  padding: 1em;
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 1em;
  border-radius: 1em;
  border-style: solid;

  .kb-archived-feature {
      padding-left: 1em;
      .kb-archived-task {
          padding-left: 1em;
      }
  }

  h1 {
      font-size: 120%;
      text-align: center;
  }

  h2 {
      font-size: 100%;
      text-decoration: underline;
  }

  h3 {
      text-decoration: none;
  }
}
.kb-the-bag.dragover {
    border: 5px solid #ccff99;
}

.kb-batch {
    text-align: center;
    .kb-batch-position {
        font-weight: bold;
        vertical-align: -20%;
    }
}

body {
    font-family: Roboto;
    margin: 0;
}

.kb-button-row {
    display: flex;
    justify-content: center;
}

.kb-version {
    width: 100%;
    text-align: center;
}

.kb-frame-nav {
    button {
        color: #bbb !important;
    }
}

.kb-input-tip {
    font-size: 80%;
    vertical-align: 200%;
}

.kb-intro {
    margin: 1em;
}

p.kb-warning {
    font-weight: bold;
}

.kb-users, .kb-requests {
    th {
        text-align: left;
        padding-left: 2em;
        border-bottom: 1px solid black;
    }
    td {
        padding-left: 2em;
    }
    table {
        border-bottom: 1px solid black;
        border-collapse: collapse
    }
}

.kb-small-avatar {
    height: 20px;
    width: 20px;
}

.kb-progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
