.hidden
{
  display: none;
  }
.task
{ 
  background-color: #fff473;
  }

.task,.release
{ 
  border: 1px solid black !important;
  margin: 4px;
  }

table
{
  border-collapse:collapse;
  }

table,td,th
{ 
  border: 1px solid grey;
  }

th
{
  border-bottom: 2px solid black;
  text-align: center;
  padding: 3px;
  background-color: #eee;
  }

.development_td
{ 
  border-right: None;
  }
.detail_td
{ 
  border-left: None;
  }

.task_detail
{ 
  margin: 4px;
  border: 1px solid black;
  }

.assigned
{ 
  background-color: #dfd;
  }

.blocked
{ 
  background-color: #f99;
  }

.release .remaining
{ 
  font-weight: bold;
  }
.release .size:before { content: "[" }
.release .size:after  { content: "] " }
.release.development .size:before { content: " / " }
.release.development .remaining:before { content: "[" } 

.card .card_header
{
  display: none;
  width: 100%;
  position: relative;
 }
.card:hover .card_header
{
  display: block;
  margin-bottom: 1ex;
  height: 3ex;
 }

.card_header .dojoDndHandle
{ 
  position: absolute;
  top: 0px;
  left: 2em;
  right: 2em;
  height: 100%;
  }

.card_header .menu-button
{ 
  position: absolute;
  right: 0px;
  }

.card .notes
{
  display: none;
 }

.card.show-detail .notes
{
  display: block;
  margin-top: 1ex;
  margin-bottom: 1ex;
 }

.backlog_item.show-detail .backlog_detail
{ 
  display: block;
  margin-left: 1em;
 }

.backlog_detail
{ 
  display: none;
  }
