.hidden
{
  display: none;
  }
.task
{ 
  background-color: #fff473;
  }

.task,.release
{ 
  border: 1px solid black !important;
  margin: 4px;
  }

table
{
  border-collapse:collapse;
  }

table,td,th
{ 
  border: 1px solid grey;
  }

th
{
  border-bottom: 2px solid black;
  text-align: center;
  padding: 3px;
  background-color: #eee;
  }

.development_td
{ 
  border-right: None;
  }
.detail_td
{ 
  border-left: None;
  }

.task_detail
{ 
  margin: 4px;
  border: 1px solid black;
  }

.assigned
{ 
  background-color: #dfd;
  }

.blocked
{ 
  background-color: #f99;
  }

.release .remaining
{ 
  font-weight: bold;
  }
.release .size:before { content: "[" }
.release .size:after  { content: "] " }
.release.development .size:before { content: " / " }
.release.development .remaining:before { content: "[" } 


.card .notes
{
  display: none;
 }

.card:hover .notes
{
  display: block;
  margin-top: 1ex;
  margin-bottom: 1ex;
 }





























.zc-fieldset
{
  margin: .5em; 
  overflow: hidden;
  }
.zc-field
{
  margin: 1em;
  overflow: hidden;
  }

.zc-label { font-weight: bold; }
.zc-label:after { content: ": "; }
.required .zc-label:after { content: " (required): "; }
.zcSmallField { display: inline; }

/* Bool */
.zope-schema-Bool
{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  }
.zope-schema-Bool .zc-widget
{
  position: absolute;
  top: 0;
  left: 0;
  }
.zope-schema-Bool .zc-label
{
  padding-left: 2em;
  width: 90%;
}
.zope-schema-Bool .zc-label:after { content: ""; }

.zope-schema-Int .zc-widget { width: 9em; }


/* Text(Area)) */
.zope-schema-Text .zc-label { display: block }
.zope-schema-Text .zc-widget
{
  width: 96%;
  margin-left: 2%;
 }

.zc-widget-hidden
 {
   display: none;
 }

.zc-left-fields
{
  width: 57%;
  float: left;
  }

.zc-right-fields
{
  width: 40%;
  margin-left: 58%
  }
