table {
    border-collapse:collapse;
}

table,td,th { 
    border: 1px solid grey;
}

th {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 3px;
    background-color: #eee;
}

md-card {
    padding: 6pt;
}
