table {
    border-collapse:collapse;
}

table,td,th { 
    border: 1px solid grey;
}

th {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 3px;
    background-color: #eee;
}

md-card {
    padding: 6pt;
}

.kb-avatar {
    margin-right: 6pt;
}

md-card.kb-project, .kb-project md-content {
    background-color: #f9f9f9;
}

md-card.kb-dev-task {
    background-color: #fff999;
}

.kb_working md-card.kb-dev-task {
    background-color: #dfd;
}

.kb_complete md-card.kb-dev-task {
    background-color: #ddf;
}

md-card.kb-dev-task.kb_blocked {
    background-color: #fdd;
}

.kb_blocked_reason::before {
    content: "Blocked: ";
    font-weight: bold;
} 

.centered-items {
    align-items: center;
}

.user-table table,tr,td {
    border: none;
}
.user-table .md-button {
    border: none;
    margin-left: 0px;
}
.user-table h4 {
    margin: 0px 0px 1ex;
}
.user-table table {
    width: 40em;
}

.kb-board button.kb-try-now span {
    color: #3f51b5;
}

.kb-task-divider {
    height: .5ex;
    transition: height .3s;
}
.kb-task-tail {
    flex-grow: 1;
    height: 2ex;
}
.kb-task-divider.dragover {
    height: 4ex;
    background-color: #ccff99;
}

.kb-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

md-dialog, .kb-page, .backlog, .kb-board th {
    padding: 1em;
}


/* ****************************************************************************
  Transitions for moving cards within columns
 */


/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .kb-column-item
  class
*/
.kb-column-item.ng-enter, .kb-column-item.ng-move {
  -webkit-transition:01.1s linear all;
  -moz-transition:01.1s linear all;
  -o-transition:01.1s linear all;
  transition:01.1s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.kb-column-item.ng-enter.ng-enter-active,
.kb-column-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .kb-column-item class
*/
.kb-column-item.ng-leave {
  -webkit-animation:01.1s my_animation;
  -moz-animation:01.1s my_animation;
  -o-animation:01.1s my_animation;
  animation:01.1s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
 *************************************************************************** */
