table {
    border-collapse:collapse;
}

table,td,th { 
    border: 1px solid grey;
}

th {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 3px;
    background-color: #eee;
}

md-card {
    padding: 6pt;
}

.kb-avatar {
    margin-right: 6pt;
}

md-card.kb-project, .kb-project md-content {
    background-color: #f9f9f9;
}

md-card.kb-dev-task {
    background-color: #fff999;
}

.kb_working md-card.kb-dev-task {
    background-color: #dfd;
}

.kb_complete md-card.kb-dev-task {
    background-color: #ddf;
}

md-card.kb-dev-task.kb_blocked {
    background-color: #fdd;
}

.kb_blocked_reason::before {
    content: "Blocked: ";
    font-weight: bold;
} 

.kb_project_column {
    height: 72pt;
}
.kb_task_column {
    height: 20pt;
}

.centered-items {
    align-items: center;
}
