<!DOCTYPE html>
<html>
  <head>
    <title>Two-Tiered Kanban</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="kb.css"> -->
    <script src="/static/angular.js"></script>
    <script src="/static/angular-ui-router.js"></script>
    <script src="/static/controllers.js"></script>
    <script src="/static/directives.js"></script>
    <script src="/static/app.js"></script>
  </head>
  <body ng-app="kb">

    <script type="text/ng-template" id="kbProjectColumn.html">
      <kb-project ng-repeat="project in state.projects"></kb-project>
    </script>

    <script type="text/ng-template" id="kbExpandedColumn.html">
      <kb-expanded-project ng-repeat="project in state.projects">
      </kb-expanded-project>
    </script>

    <script type="text/ng-template" id="kbProject.html">
      <div>{{project.name}}</div>
    </script>

    <script type="text/ng-template" id="kbExpandedProject.html">
      <table>
        <caption>{{project.name}}</caption>
        <tr><th ng-repeat="state in state.substates">{{state}}</th></tr>
        <tr>
          <td ng-repeat="state in state.substates">
            <kb-task-column></kb-task-column>
          </td>
        </tr>
      </table>
    </script>

    <script type="text/ng-template" id="kbTaskColumn.html">
      <kb-task ng-repeat="task in tasks"></kb-task>
    </script>

    <script type="text/ng-template" id="kbTask.html">
      <div>{{task.name}}</div>
    </script>

    <table ng-controller="main">
      <tr><th ng-repeat="state in states">{{state.name}}</th></tr>
      <tr>
        <td ng-repeat="state in states"
            ng-switch="state.substates && 'expanded'"
            >
          <kb-expanded-column ng-switch-when="expanded"></kb-expanded-column>
          <kb-project-column ng-switch-default></kb-project-column>
        </td>
      </tr>
    </table>

  </body>
</html>
