<!DOCTYPE html>
<html>
  <head>
    <title>Two-Tiered Kanban</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/static/kb.css">


    <script src="/static/angular/angular.js"></script>
    <script src="/static/angular-animate/angular-animate.js"></script>
    <script src="/static/angular-aria/angular-aria.js"></script>
    <script src="/static/angular-material/angular-material.js"></script>

    <script src="/static/controllers.js"></script>
    <script src="/static/directives.js"></script>
    <script src="/static/board.js"></script>
    <script src="/static/app.js"></script>
  </head>
  <body ng-app="kb">

    <script type="text/ng-template" id="kbProjectColumn.html">
      <td class="kb_project_column">
        <kb-project ng-repeat="project in projects"></kb-project>
      </div>
    </script>

    <script type="text/ng-template" id="kbProject.html">
      <div ng-switch="state.substates && 'expanded'">
        <table id="{{project.id}}"
               draggable="true"
               ng-switch-when="expanded"
               >
          <caption>{{project.name}}</caption>
          <tr><th ng-repeat="state in state.substates">{{state}}</th></tr>
          <tr>
            <td ng-repeat="state in state.substates" kb-task-column>
            </td>
          </tr>
        </table>
        <div id="{{project.id}}"
             draggable="true"
             ng-switch-default
             >{{project.name}}</div>
      </div>
    </script>

    <script type="text/ng-template" id="kbTaskColumn.html">
      <td class="kb_task_column"
           id="{{project.id}}_{{state}}"
           >
        <kb-task ng-repeat="task in tasks"></kb-task>
      </td>
    </script>

    <script type="text/ng-template" id="kbTask.html">
      <div id="{{task.id}}" draggable="true">{{task.name}}</div>
    </script>

    <script type="text/ng-template" id="kbNewProject.html">
      <md-dialog aria-label="New project">
        <form novalidate name="form_controller">
          Project name: <input type="text" ng-model="project_name" required><br>
          <md-button ng-click="cancel()">
            Cancel
          </md-button>
          <md-button ng-click="new_project($event)">
            Add
          </md-button>
      </md-dialog>
    </script>

    <div ng-controller="main">
      <table>
        <tr><th ng-repeat="state in board.states">{{state.name}}</th></tr>
        <tr><td ng-repeat="state in board.states" kb-project-column></td></tr>
      </table>
      <md-button ng-click="new_project($event)">
        Add project
      </md-button>
    </div>

  </body>
</html>
